@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: "Cabin";
    src: url(../fuentes/cabin/Cabin-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Helvetica";
    src: url(../fuentes/helvetica/HelveticaNeueLTStd-Lt.otf) format("truetype");
}
@font-face {
    font-family: "Didactic";
    src: url(../fuentes/didactic/DidactGothic.ttf) format("truetype");
}

body {
    height: 80%;
    margin: 0;
    padding: 0;
    font-family: "Didactic", sans-serif;
    color: #666;
    background: white; 
    font-size: 1em;
    line-height: 1.5em;
    
}



#main-header {
    background: #ffc500;
    color: white;
    height: 70px;
    box-shadow: 2px 2px 10px #666;
 
   
    
   
}

#main-header a {
    color: white;
}

.div_img_mex
{
    
    position: absolute;
    margin-top: 13px;
    margin-left: 20%;
    z-index: 2;
    
}

.div_logom
{
    z-index: 2;
    position: absolute;
    margin-top: 13px;
   margin-left:  70%;
  
   
    
    
}

.titulo_banner{
    
    font-size: 22px;
    margin-top: 10px;
    color: black;
    margin: auto;
    position: absolute;

    padding: 20px 0px 0px 45% ;
     text-shadow: 2px 6px 10px #666;
}

.titulo_banner2{
    
    font-size: 14px;
    margin-top: 20px;
    color: black;
    margin: auto;
    position: absolute;
 
    padding: 40px 0px 0px 45.8%;
     text-shadow: 2px 6px 10px #666;
}




nav {
   
 width: 100%;
   margin: auto;
    
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
    

}

nav ul li {
    
   text-align: center;
   margin-top: 30px;
   
   
}

nav ul li a {
    display: block;
    
    text-decoration: none;
    font-size: 14px;
    text-shadow: 4px 8px 12px #666;
    color: #333;
}

nav ul li a:hover {
    letter-spacing: 1.5px;
}




p {
    padding: 15px;
    margin-top: 5px;
    text-decoration: none;
   
}



/*

menu botones

*/

.menu-botones{
    
    width: 98%;
    margin-top: 50px;

    height: 80px;
    margin: auto;
    text-decoration: none;
  
  
}

.link{
    text-decoration: none;
    color: #333;
    text-align: right;
    margin-right: 20px;
    
    
}





.titulo-progras{
        
        width: 100%;
        margin: auto;
        text-shadow: 4px 8px 12px #666;
        text-align: center;
        color: black;
        margin-bottom: 20px;
        margin-top: 30px;
       
        height: 40px;
        
        
    }
    
    #ajusta-region{
         margin-bottom: 5px;
        margin-top: 5px;
        
    }   
 
.anotacion-progras{
        
        width: 100%;
        margin-left: 20px;
         
        font-size: 10px;
        color: #666;
        
        
        
    }   
    
    
.img-prog-ind{
    position: absolute;
    margin-left: 10px;
    margin-top: 7px;
}

.img-prog-ind2{
    position: absolute;
    margin-left: 10px;
    margin-top: 7px;
}
.text-prog-ind{
    
   
  
   width: 100px;
   margin-left: 20px;
   display: block;
   margin-left: 65px;
   
    
     
}
.text-prog-ind2{
    
   
  
   width: 190px;
  
   display: block;
   margin-left: 50px;
   
    
     
}


.div_bottones{
    background: #76983f;
    width: 100%;
    min-width: 210px;
    max-width: 211px;
    height: 50px;
       color: white;
       text-align: center;
       border-radius: 30px;
       box-shadow: 6px 5px 8px #666;
       font-size: 14px;
       margin-top: 10px;
       margin-left: 20px;
       display: inline-block;
       
    
}
.div_bottones2{
    background: #76983f;
    width: 100%;
    min-width: 260px;
    max-width: 261px;
    height: 50px;
       color: white;
       text-align: center;
       border-radius: 30px;
       box-shadow: 6px 5px 8px #666;
       font-size: 14px;
       margin-top: 10px;
       margin-left: 25px;
       display: inline-block;
       text-decoration: none;
       
    
}

.div_ul_prog{
    
       display: block;
      
      
       
    
}
.ul-boton{
   
}

.img-logo-prog{
    margin-top: 10px;
    margin-right: 60px;
   box-shadow: 4px 6px 12px #666;
   border-radius: 10px;
    float: right;
    
    
}


.div-tipo-prog{
    
    
width: 235px; height: 30px; 

position: absolute;
margin-top: 10px; 
text-align: center;
border-radius: 20px 0px 20px 0px;
box-shadow: 6px 5px 8px #666; 
color: white;
font-size: 14px;
    text-shadow: 4px 8px 12px #666;
    margin-left: 5px;
    
    
    
    
    
    
}






#alumno_prog{
   background: rgba(165,116,189,1);
background: -moz-linear-gradient(top, rgba(165,116,189,1) 0%, rgba(165,116,189,1) 1%, rgba(115,53,130,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(165,116,189,1)), color-stop(1%, rgba(165,116,189,1)), color-stop(100%, rgba(115,53,130,1)));
background: -webkit-linear-gradient(top, rgba(165,116,189,1) 0%, rgba(165,116,189,1) 1%, rgba(115,53,130,1) 100%);
background: -o-linear-gradient(top, rgba(165,116,189,1) 0%, rgba(165,116,189,1) 1%, rgba(115,53,130,1) 100%);
background: -ms-linear-gradient(top, rgba(165,116,189,1) 0%, rgba(165,116,189,1) 1%, rgba(115,53,130,1) 100%);
background: linear-gradient(to bottom, rgba(165,116,189,1) 0%, rgba(165,116,189,1) 1%, rgba(115,53,130,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a574bd', endColorstr='#733582', GradientType=0 );

}
#escuela_prog{
    background: rgba(220,131,26,1);
background: -moz-linear-gradient(top, rgba(220,131,26,1) 0%, rgba(220,131,26,1) 1%, rgba(241,150,30,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(220,131,26,1)), color-stop(1%, rgba(220,131,26,1)), color-stop(100%, rgba(241,150,30,1)));
background: -webkit-linear-gradient(top, rgba(220,131,26,1) 0%, rgba(220,131,26,1) 1%, rgba(241,150,30,1) 100%);
background: -o-linear-gradient(top, rgba(220,131,26,1) 0%, rgba(220,131,26,1) 1%, rgba(241,150,30,1) 100%);
background: -ms-linear-gradient(top, rgba(220,131,26,1) 0%, rgba(220,131,26,1) 1%, rgba(241,150,30,1) 100%);
background: linear-gradient(to bottom, rgba(220,131,26,1) 0%, rgba(220,131,26,1) 1%, rgba(241,150,30,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc831a', endColorstr='#f1961e', GradientType=0 );
    
}

#municipio_prog{
    background: rgba(156,187,94,1);
background: -moz-linear-gradient(top, rgba(156,187,94,1) 0%, rgba(156,187,94,1) 21%, rgba(181,213,111,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(156,187,94,1)), color-stop(21%, rgba(156,187,94,1)), color-stop(100%, rgba(181,213,111,1)));
background: -webkit-linear-gradient(top, rgba(156,187,94,1) 0%, rgba(156,187,94,1) 21%, rgba(181,213,111,1) 100%);
background: -o-linear-gradient(top, rgba(156,187,94,1) 0%, rgba(156,187,94,1) 21%, rgba(181,213,111,1) 100%);
background: -ms-linear-gradient(top, rgba(156,187,94,1) 0%, rgba(156,187,94,1) 21%, rgba(181,213,111,1) 100%);
background: linear-gradient(to bottom, rgba(156,187,94,1) 0%, rgba(156,187,94,1) 21%, rgba(181,213,111,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cbb5e', endColorstr='#b5d56f', GradientType=0 );
    
    
}
#inver_prog{
    background: rgba(11,127,159,1);
background: -moz-linear-gradient(top, rgba(11,127,159,1) 0%, rgba(11,127,159,1) 21%, rgba(14,112,132,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(11,127,159,1)), color-stop(21%, rgba(11,127,159,1)), color-stop(100%, rgba(14,112,132,1)));
background: -webkit-linear-gradient(top, rgba(11,127,159,1) 0%, rgba(11,127,159,1) 21%, rgba(14,112,132,1) 100%);
background: -o-linear-gradient(top, rgba(11,127,159,1) 0%, rgba(11,127,159,1) 21%, rgba(14,112,132,1) 100%);
background: -ms-linear-gradient(top, rgba(11,127,159,1) 0%, rgba(11,127,159,1) 21%, rgba(14,112,132,1) 100%);
background: linear-gradient(to bottom, rgba(11,127,159,1) 0%, rgba(11,127,159,1) 21%, rgba(14,112,132,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b7f9f', endColorstr='#0e7084', GradientType=0 );
}

#pdf_descarga{
    background: white;
    color:#666;
}

#pdf_descarga_reglas{
   
background: rgba(206,31,37,1);
background: -moz-linear-gradient(left, rgba(206,31,37,1) 0%, rgba(207,31,37,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(206,31,37,1)), color-stop(100%, rgba(207,31,37,1)));
background: -webkit-linear-gradient(left, rgba(206,31,37,1) 0%, rgba(207,31,37,1) 100%);
background: -o-linear-gradient(left, rgba(206,31,37,1) 0%, rgba(207,31,37,1) 100%);
background: -ms-linear-gradient(left, rgba(206,31,37,1) 0%, rgba(207,31,37,1) 100%);
background: linear-gradient(to right, rgba(206,31,37,1) 0%, rgba(207,31,37,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce1f25', endColorstr='#cf1f25', GradientType=1 );

    color:white;
    text-decoration: none;
    box-shadow: none; 
    margin-left: 60px; 
    font-size: 18px;    
}









/*
 * configuración de body
 */


#main-content {
    background: white;
    width: 100%;
    max-width: 1200px;
    min-width: 1200px;
 
 
   margin: auto;
  
  
  
}


/*
 * div de contenido de las secciones 
 */



.div_sec1{
    
    width:100%;
   
    background: #e7e6e6;
   display: inline-block;
  
    position: relative;
    
    
    text-align : justify;
    font-size: 13px;
    line-height: 1.5;
    margin-top: 15px;
     
      color:black;
     

}

/*
.div_sec1:hover{
    
   transform: scale(1.3);
   
    z-index:1;
  background: white;
    
    border-radius: 20px;
   
    transition-duration: 2s ;
    box-shadow: 2px 8px 30px #999;
    -webkit-animation-duration: 2s ease-out; 
     border-left : 2pt dashed #782f88; 
     
     
     
   
}  */

.article1{
    
    width: 32%;
  float:left;
   
   display: inline-block;
   margin-left: 15px;
    
}

.article2{
    
    width: 44%;
  display: inline-block;
     
     margin-left: 15px;
    
}
.contenedor-graf{
    width: 100%;
    
   min-height: 550px;
    height: auto;
    
   
}
.grafica-grande{
    
    width: 100%;
   
   margin-top: 30px;
    height: 600px;
    display: block;
    
}

.contenedor-graf-prin{
    
    width: 77%;
    background: white;
    height: 435px;
    margin-left: 265px;
    background: #e7e6e6;
    margin-top: 20px;
    
}





#mas-texto{
    display: none;
}















/*
 * div general de la seccion
 */

.div_cont{
    
    width:100%;
    max-width: 600px;
    background: white;
    border-radius: 20px;
     min-width: 1200px;
     margin-top: 8px;

  
    float: left;
 
    
    
}





h8{
    font-size: 12px;
position: absolute;
margin-left: 50px;
color:#666;
padding: auto;
}

.graf-prog-propiedades{
    
    height: 200px; 
    width: 100%; 
    margin-bottom: 30px;
   padding: 5px;
    
    
    
}









/*
 * seccion izquierda
 */



















aside{
    width: 250px;
   margin-top: -10px;
    height: 100%;
    float: left;
    min-height:  1945px;
    background: rgba(237,237,237,1);
background: -moz-linear-gradient(top, rgba(237,237,237,1) 2%, rgba(187,186,186,1) 35%, rgba(151,149,149,1) 59%, rgba(149,147,147,1) 60%);
background: -webkit-gradient(left top, left bottom, color-stop(2%, rgba(237,237,237,1)), color-stop(35%, rgba(187,186,186,1)), color-stop(59%, rgba(151,149,149,1)), color-stop(60%, rgba(149,147,147,1)));
background: -webkit-linear-gradient(top, rgba(237,237,237,1) 2%, rgba(187,186,186,1) 35%, rgba(151,149,149,1) 59%, rgba(149,147,147,1) 60%);
background: -o-linear-gradient(top, rgba(237,237,237,1) 2%, rgba(187,186,186,1) 35%, rgba(151,149,149,1) 59%, rgba(149,147,147,1) 60%);
background: -ms-linear-gradient(top, rgba(237,237,237,1) 2%, rgba(187,186,186,1) 35%, rgba(151,149,149,1) 59%, rgba(149,147,147,1) 60%);
background: linear-gradient(to bottom, rgba(237,237,237,1) 2%, rgba(187,186,186,1) 35%, rgba(151,149,149,1) 59%, rgba(149,147,147,1) 60%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#959393', GradientType=0 );

box-shadow: 2px 3px 10px #333;
}


.div_color1{
    
    width: 6px;
    background: #8c4f9b;
    height: 200px;
    display: block;
   
    margin-left: 244px;
    box-shadow: 2px 3px 5px #bfbfbf;
        
}
.div_color2{
    
    width: 6px;
    background: #c273ad;
    height: 200px;
   display: block;
   
    margin-left: 244px;
   
    box-shadow: 2px 3px 5px #bfbfbf;
}
.div_color3{
    
    width: 6px;
    background: #e9659c;
    height: 200px;
   display: block;
   
    margin-left: 244px;
   
    box-shadow: 2px 3px 5px #bfbfbf;
}
.div_color4{
    
    width: 6px;
    background: #2aa7d7;
    height: 200px;
   display: block;
   
    margin-left: 244px;
   
    box-shadow: 2px 3px 5px #bfbfbf;
}
.div_color5{
    
    width: 6px;
    background: #83a945;
    height: 200px;
   display: block;
   
    margin-left: 244px;
   
    box-shadow: 2px 3px 5px #bfbfbf;
}
.div_color6{
    
    width: 6px;
    background: #ebc529;
    height: 200px;
   display: block;
   
    margin-left: 244px;
   
    box-shadow: 2px 3px 5px #bfbfbf;
}

.home{
    position:absolute;
    margin-top: 60px;
    margin-left: 180px;
}

.menu-prog{
    position:absolute;
    margin-top: 90px;
    margin-left: 90px;
    display: block;
    max-height: 600px;
    width: 150px;
    
    
    
    
}

.three-columns {
    
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    padding: 10px;
   
}


#customers {
    
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #bfbfbf;
    color: black;
}


#customers1 {
   
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}

#customers1 td, #customers1 th {
    border: 1px solid #ddd;
    padding: 5px;
}

#customers1 tr:nth-child(even){background-color: #f2f2f2;}

#customers1 tr:hover {background-color: #ddd;}

#customers1 th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #bfbfbf;
    color: black;
}


.hoverflow-tab-mun{
    
   width: 100%;
   height: 257px;
    overflow:auto;
    margin-bottom: 20px;
    
    
}






.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
#popup {
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
}
#popup:target {
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.1);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   transition:all 1s;
}
.popup-contenedor {
   position: relative;
   margin:7% auto;
   padding:30px 50px;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:50%;
   
}
a.popup-cerrar {
   position: absolute;
   top:20px;
   left:90%;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
  
}
keyframes autopopup {
   from {opacity: 0;margin-top:-200px;}
   to {opacity: 1;}
}
#popup {
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   text-decoration: none;

   /* Animación que durará 2 segundos*/
   animation:autopopup 2s;
}




.mensaje-error{
    width: 90%;
    margin: auto;
    color:#333;
    font-size: 14px;
    text-align: center;
    height: 150px;
   
}

.div-footer{
    
    width: 100%;
    height: 80px;
    margin-top: 1950px; 
    background: #ffc500;
    position: absolute;
    z-index: 1;
    text-align: center;
}

.texto-footer{
    
    
    margin-top: 30px;
    font-size: 14px;
   
    color: #666;
    
   
    
    
 
    text-align: center;
     text-shadow: 2px 6px 10px #666;
}
    





